<!doctype html>
<footer>

  <nav class="footer-links">
    <ul>
      <li>
        <a href="https://www.engineer.or.jp/" target="_blank" rel="noopener noreferrer">
          日本技術士会
        </a>
      </li>

      <li>
        <a href="https://ipej-knk.jp/" target="_blank" rel="noopener noreferrer">
          日本技術士会 近畿本部
        </a>
      </li>

      <li>
        <a href="https://suido.ipej-knk.jp/" target="_blank" rel="noopener noreferrer">
          日本技術士会 近畿本部 上下水道部会
        </a>
      </li>
    </ul>
  </nav>

  <p>
    本ページは試作段階であり、
    内容は今後変更となる場合があります。
  </p>

  
  <p>
    © 近畿本部 修習技術者支援委員会（仮）
  </p>

</footer>