<header class="site-header">

  <div class="header-inner">
    <h1 class="site-title">
      <a href="index.html">
        近畿本部 修習技術者支援委員会
      </a>
    </h1>

    <p class="site-description">
      技術士を目指す方、修習技術者、技術士補、若手技術者向けの情報を掲載しています。
    </p>
  </div>
<nav>
  <ul>
    <li><a href="https://syuusyuu.ipej-knk.jp/">トップ</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/committee/">修習技術者支援委員会とは</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/first-visit/">初参加の方へ</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/first-exam/">技術士第一次試験とは</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/events/">行事案内</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/faq/">FAQ</a></li>
    <li><a href="https://syuusyuu.ipej-knk.jp/for-pe/">既技術士・関係者の皆様へ</a></li>
  </ul>
</nav>

</header>